@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .text-center {
        text-align: center;
		color: burlywood;
        border: 1px solid black;
	}
    button {
        background-color: black;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
		cursor: pointer;
    }

</style>

<div class="text-center">
    <h1>For Azure.</h1>
    <p>It's working.</p>
    <button onclick="changeBG()">Change Background</button>
</div>
<script>
    let isDark = false;

      function changeBG() {
		  const btn = document.querySelector("button");
          if (!isDark) {
              document.body.style.backgroundColor = "black";
              document.body.style.color = "white";
			  btn.textContent = "Light mode" ;
              isDark = true;
          } else {
              document.body.style.backgroundColor = "white";
              document.body.style.color = "black";
			  btn.textContent = "Dark mode" ;
              isDark = false;
          }
      }
</script>


